name: CI/CD Simple Pipeline

# 어떤 이벤트가 발생했을 때 workflow를 실행할 것인지
# 여기서는 main 브랜치에 push가 발생했을 때 workflow(jobs)를 실행하도록 설정
# 하나의 Workflow는 1개 이상의 Job으로 구성됨
# 여러 Job은 병렬적으로 수행됨
on:
  push:
    branches:
      - main

jobs:
  # 작업 이름(id)(사용자 마음대로)
  a:
    # 어떤 환경에서 실행할 것인지(gh actions에서 제공하는 컴퓨터)
    runs-on: ubuntu-latest

    # 하나의 작업에서 실행할 여러 step들을 정의(같은 instance에서 실행)
    # 하나의 job을 구성하는 가장 작은 단위
    steps:
      # 처음에 job이 실행되면 instance가 켜짐 (아무것도 없는 빈 컴퓨터) -> 현재 repo를 git clone으로 코드 가져오기, branch checkout 등이 필요한데 이걸 actions/checkout@v4가 해줌
      - name: 명령어 실행
        run: |
          echo "Hello World"
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
